@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');
/* ---------------- CSS reset ---------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ---------------- CSS reset end ---------------- */

html, body {
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
}

.main-wrapper {
    font-size: 2rem;
    width: 380px;
}

.main-wrapper h1 {
    font-weight: 600;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-icons.md-32 {
    font-size: 32px;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.btn-wrapper h3 {
    margin-left: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .075rem;
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn:focus {
    outline:none;
}

@media(max-width: 412px) {
    .container {
        height: 85vh;
        margin: 5%;
    }

    .main-wrapper {
        font-size: 1.75rem;
        width: 100%;
    }

    .btn-wrapper {
        flex-direction: column;
    }

    .btn {
        width: 90vw;
    }

    .btn-wrapper h3 {
        margin-top: 1rem;
        margin-left: 0;
    }

    .material-icons.md-32 {
        font-size: 28px;
    }
}